.login-container {
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #7b2ff7, #231042);
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.login-title {
  font-size: 22px;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.login-form label {
  font-size: 16px;
}

.login-form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #999;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-form input:focus {
  border-color: #1ed760;
  box-shadow: 0 0 5px #1ed760;
}

.forgot-password {
  align-self: flex-end;
  font-size: 13px;
  color: #ccc;
  margin-bottom: 10px;
  text-decoration: none;
}

.forgot-password:hover {
  color: #1ed760;
  text-decoration: underline;
}

.login-btn {
    text-align: center;
    background-color: #2bff00;
    color: rgb(3, 3, 3);
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
}

.login-btn:hover {
 transform: translateY(-3px);
}

.signup-text {
  margin-top: 25px;
  font-size: 14px;
  margin-bottom: 65px;
}

.signup-link {
  color: #1ed760;
  text-decoration: none;
  font-weight: 600;
  
}

.signup-link:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .login-form {
    width: 60%;
  }

  .login-title {
    font-size: 20px;
  }

  .login-btn {
    font-size: 15px;
    padding: 10px 25px;
  }
}

/* Mobile Landscape (max-width: 768px) */
@media (max-width: 768px) {
  .login-form {
    width: 70%;
  }

  .login-title {
    font-size: 19px;
  }

  .login-form label {
    font-size: 15px;
  }

  .login-form input {
    font-size: 13px;
    padding: 9px;
  }

  .forgot-password {
    font-size: 12px;
  }

  .login-btn {
    width: 100%;
    font-size: 15px;
  }
}

/* Mobile Portrait (max-width: 480px) */
@media (max-width: 480px) {
  .login-container {
    padding: 15px;
  }

  .login-title {
    font-size: 18px;
  }

  .login-form {
    width: 90%;
  }

  .login-form label {
    font-size: 14px;
  }

  .login-form input {
    font-size: 13px;
    padding: 8px;
  }

  .login-btn {
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
  }

  .signup-text {
    font-size: 13px;
    margin-top: 20px;
  }
}
.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
