/* Full Screen Wrapper */
.profile-wrapper {
  width: 96.7%;
  height: 100vh;
  background: linear-gradient(to bottom, #7b2ff7, #5a00f0);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.profile-header {
  width: 96.7%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-icons .icon-btn {
  margin-left: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.profile-avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
  object-fit: cover;
}

.profile-info h3 {
  font-size: 20px;
  margin-top: 8px;
  font-weight: 600;
}

.email {
  font-size: 14px;
  opacity: 0.85;
}

.menu-list {
  width: 100%;
  margin-top: 30px;
}

.menu-box {
  width: 100%;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(12px);
  padding: 15px 18px;
  border-radius: 14px;
  margin-bottom: 12px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease;
  width:96.7%;
}

.menu-box:hover {
  background: rgba(255, 255, 255, 0.32);
}
